<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/Css/uikit.gradient.min.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Content/js/uikit.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="uk-container uk-container-center">
            <div id="header">
                <nav class="uk-navbar">
                    <a class="uk-navbar-brand" href="@Url.Action("Index", "Home")"><i class="uk-icon-coffee uk-icon-medium"></i> </a>
                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="@Url.Action("Index", "Home")"><i class="uk-icon-home"></i> Home</a>
                        </li>
                    </ul>
                </nav>
            </div>
            @RenderBody()
        </div>
    </body>
</html>
