@model MVCBlog.Models.Article

@{
    ViewBag.Title = "Article";
}

<ul class="uk-breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li><a href="@Url.Action("Category", "Blog", new { id = Model.CategoryId })">@Model.Category.CategoryName</a></li>
    <li class="uk-active"><span>Article</span></li>
</ul>

<div>
    <button class="uk-button uk-button-danger show-modal">Delete Article</button>
    <a class="uk-button uk-button-success" href="@Url.Action("EditArticle", "Blog", new { id = Model.ArticleId })">Edit Article</a>
</div>

<article class="uk-article">
    <h1 class="uk-article-title">@Model.ArticleName</h1>
	<p class="uk-article-meta">Written by @Model.User.Login</p>
	<p>@Model.ArticleText</p>
    <hr class="uk-article-divider">
</article>
<p></p>

@foreach (var comment in Model.Comments)
{
    <article class="uk-comment">
	    <header class="uk-comment-header">
		    <img class="uk-comment-avatar" src="@Url.Content("~/Content/images/avatar_placeholder.png")" alt="">
		    <div class="uk-comment-meta">Written by @comment.User.Login on @comment.CommentDate</div>
	    </header>
	    <div class="uk-comment-body">@comment.CommentText</div>
    </article>
    <p></p>
}

<div class="uk-modal" id="delete-modal">
    <div class="uk-modal-dialog  uk-modal-dialog-slide">
        <form method="post" action="@Url.Action("DeleteArticle", "Blog", new { id = Model.ArticleId } )">
            <p>Are you sure you want to delete "@Model.ArticleName" article?</p>
            <button class="uk-button uk-button-primary" id="do-cancel">Cancel</button>
            <button class="uk-button uk-button-danger" type="submit">Delete</button>    
        </form>
    </div>
</div>

<form action="@Url.Action("AddComment", "Blog", new { articleId = Model.ArticleId })" method="post" class="uk-form">

    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>
        <div class="uk-form-row">
            <div class="uk-form-controls">
                <input class="uk-width-1-1" data-val="true" data-val-required="Comment text required." id="CommentText" name="CommentText" type="text" value="" />
                <span class="field-validation-valid" data-valmsg-for="CommentText" data-valmsg-replace="true"></span>
            </div>
        </div>
        <p>@Html.Hidden("UserId", 4)</p>
        <div class="uk-form-row">
            <button class="uk-button uk-button-success" type="submit">Add Comment</button>
        </div>
    </fieldset>
</form>

<script>
    $(function () {
        var modal = new $.UIkit.modal.Modal("#delete-modal");

        $(".show-modal").click(function () {
            modal.show();
        });

        $("#do-cancel").click(function () {
            modal.hide();
        });
    });
</script>
