@model MVCBlog.Models.Article

@{
    ViewBag.Title = "Create Article";
}

<h2>Create Article</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <form class="uk-form uk-form-horizontal">
        <fieldset>
            <div class="uk-form-row">
                <label class="uk-form-label" for="form-h-it">@Html.LabelFor(model => model.ArticleName)</label>
                <div class="uk-form-controls">
                    @Html.EditorFor(model => model.ArticleName, new { @id = "form-h-it" })
                    @Html.ValidationMessageFor(model => model.ArticleName)
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="form-h-s">@Html.LabelFor(model => model.CategoryId, "Category")</label>
                <div class="uk-form-controls">
                    @Html.DropDownList("CategoryId", String.Empty)
                    @Html.ValidationMessageFor(model => model.CategoryId)
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="form-h-t">@Html.LabelFor(model => model.ArticleText)</label>
                <div class="uk-form-controls">
                    @Html.TextAreaFor(model => model.ArticleText, new { @id = "form-h-t" })
                    @Html.ValidationMessageFor(model => model.ArticleText)
                </div>
            </div>
            <p>@Html.Hidden("UserId", 3)</p>
            <div class="uk-form-row">
                <button class="uk-button" type="submit">Button</button>
            </div>
        </fieldset>
    </form>
}

<div>
    @Html.ActionLink("Back to List", "Category")
</div>